<HTML>
	<HEAD>
		<TITLE> Great3 {% block subtitle %} {% endblock %}</TITLE>

		<link rel="stylesheet" href="{{ STATIC_URL }}js/tablesorter/themes/great3/style.css" type="text/css" media="print, projection, screen" />

		<script src="{{ STATIC_URL }}js/tablesorter/jquery-latest.js"
				type="text/javascript"
				charset="utf-8">
		</script>
		<script type="text/javascript" 
				src="{{ STATIC_URL }}js/tablesorter/jquery.tablesorter.js">
		</script> 
		<script>
			$.tablesorter.addParser({
				// set a unique id
				id: 'rank',
				is: function(s) {
					// return false so this parser is not auto detected
					return true;
				},
				format: function(s) {
					console.log("Sorting");
					console.log(s);
					// format your data for normalization
					if (s=="  ") {return 10000};
					return s;
				},
				// set type, either numeric or text
				type: 'numeric'
			});
		</script>

		{% block header_script %}
		{% endblock %}

	</HEAD>
	<BODY>
		<DIV align="left" ><A href="{% url leaderboard.views.front_page %}"><IMG src="{{ STATIC_URL }}img/Home.png"></DIV></A>

		 {% block content %} 
		 {% endblock %}

	</BODY>
</HTML>