<HTML>
	<HEAD>
		<TITLE> Great3 {% block subtitle %} {% endblock %}</TITLE>

		
		<link rel="stylesheet" href="{{ STATIC_URL }}css/nav.css" type="text/css" media="print, projection, screen" />
		<style type="text/css">
		body {border: 50px solid WHITE;}
		</style>
		<style type="text/css">
		p {max-width:600px; text-align:justify;}
		</style>
		{% block header_includes %}
		{% endblock %}
	</HEAD>
	<BODY>
		<DIV align="left" ><A href="{% url leaderboard.views.front_page %}"><IMG src="{{ STATIC_URL }}img/Home.png"></DIV></A>
		<ul id="nav">
		<li><a href="{% url leaderboard.views.front_page %}">Home</a></li>
		<li><a href="{% url leaderboard.data_views.index %}">Get Data</a></li>
		<li><a href="{% url leaderboard.team_views.index %}"> Overall Leaderboard</a></li>
		<li><a href="{% url leaderboard.board_views.index %}">Branch Leaderboards</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url leaderboard.team_views.setup %}">My Great3</a></li>
		<li><a href="{% url django.contrib.auth.views.logout %}">Logout {{user}}</a></li>
		{% else %}
		<li><A href="{% url django.contrib.auth.views.login %}">Login</A></li>
		{% endif %}
		</ul>

<P><font size=3 color="red" >As of October 17, the ~6 month time period for the GREAT3 challenge has begun, with submissions due by April 30, 2014. We are now releasing all simulations for the control, some multiepoch, and all variable PSF experiments (10 branches total), and these should be considered a beta-release, with the final vetting to take place in the next month and the final branches to be released in 4-6 weeks from now. After this point, if problems arise we may apply an overall metric recalculation to all methods.</font></P>

		 {% block content %} 
		 {% endblock %}
	</BODY>
</HTML>
