<HTML>
	<HEAD>
		<TITLE> Great3 {% block subtitle %} {% endblock %}</TITLE>

		
		<link rel="stylesheet" href="{{ STATIC_URL }}css/nav.css" type="text/css" media="print, projection, screen" />
		<style type="text/css">
		body {border: 50px solid WHITE;}
		</style>
		<style type="text/css">
		p {max-width:600px; text-align:justify;}
		</style>
		{% block header_includes %}
		{% endblock %}
	</HEAD>
	<BODY>
		<DIV align="left" ><A href="{% url leaderboard.views.front_page %}"><IMG src="{{ STATIC_URL }}img/Home.png"></DIV></A>
		<ul id="nav">
		<li><a href="{% url leaderboard.views.front_page %}">Home</a></li>
		<li><a href="{% url leaderboard.data_views.index %}">Get Data</a></li>
		<li><a href="{% url leaderboard.team_views.index %}"> Overall Leaderboard</a></li>
		<li><a href="{% url leaderboard.board_views.index %}">Branch Leaderboards</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url leaderboard.team_views.setup %}">My Great3</a></li>
		<li><a href="{% url django.contrib.auth.views.logout %}">Logout {{user}}</a></li>
		{% else %}
		<li><A href="{% url django.contrib.auth.views.login %}">Login</A></li>
		{% endif %}
		</ul>

<P><font size=5 color="red" >Great 3 is in a testing phase.  We welcome your submissions for testing purposes but the leaderboards will be reset when the final data sets are released. Data updated September 3rd.</font></P>

		 {% block content %} 
		 {% endblock %}
	</BODY>
</HTML>
