{% extends "leaderboard/table_page.html" %}
{% block subtitle %} {{board.name}} {% endblock %}
<H3> Leaderboard:  {{ board.name }} </H3>


{% block header_script %}
	<script>
		$(document).ready(function() {$("#boardTable").tablesorter({
			headers: {3: {sorter:'rank'}},
			widgets:['zebra']}); } ); 
	</script>
{% endblock %}

{% block content %}
<H2> Entries to {{ board.name }} leaderboard</H2>
<table class="tablesorter" id="boardTable">
	<THEAD>
		<TH> Entry Name </TH>
		<TH> Team </TH>
		<TH> Score </TH>
		<TH> Rank </TH>
		<TH> Points </TH>
		<TH> Date </TH>
	</THEAD>
	<TBODY>
		{% for entry in entries %}
		<TR>
			<TD> <A href="{% url leaderboard.entry_views.detail entry.id %}"> {{ entry.name }}</A> </TD>
			<TD> <A href="{% url leaderboard.team_views.detail entry.team.id %}"> {{ entry.team }}</A> </TD>
			<TD> {{ entry.score_text }} </TD>
			<TD> {{ entry.rank_text }} </TD>
			<TD> {{ entry.points_text }} </TD>
			<TD> {{ entry.date }} </TD>
		</TR>
	{% endfor %}
	</TBODY>
</table>
<P><A href="{% url leaderboard.board_views.submit board.id %}"> Submit to this leaderboard</A></P>
{% endblock %}