{% extends "leaderboard/base.html" %}
{% block subtitle %} Data Access {% endblock %}

{% block content %}
{% block admin_content %} {% endblock %}


<H4> Challenge Data Sets</H4>
<UL>
{% for board in boards %}
<LI> {% if board.datafile%}  
		<A href="{% url leaderboard.data_views.public_file board.datafile.filename %}">Branch {{board}}</A> {{board.datafile.info}}
	{% else %}
		Data for {{board}} is not available yet
	{% endif %} </LI>
{% endfor %}
</UL>

<H4> Miscellaneous Data Files </H4>
	<UL>
		{% for public_file in public_files %}
			<LI><A href="{% url leaderboard.data_views.public_file public_file.filename %}">{{public_file.filename}}</A> {{public_file.info}} </LI>
		{% endfor %}
	</UL>


{% endblock %}