{% extends "leaderboard/base.html" %}
{% block subtitle %} Data Access {% endblock %}

{% block content %}
{% block admin_content %} {% endblock %}

<H4> Challenge Data Sets</H4>
<P>Below are links to download the preliminary data (beta release from October 17th) for the control branches of the data. The main links are to files hosted in London; our US mirror is currently down, but once it is back up we will include links to download the data from there as well. </P>

<P>Please report any problems downloading the datasets to <a href="mailto:challenge@great3challenge.info">challenge@great3challenge.info</a> or <a href="https://github.com/barnabytprowe/g\
reat3-public/issues">post an issue at github.</P>

<P><a href="https://github.com/barnabytprowe/great3-public/wiki/Challenge-dataset-format">Description of file format here</a>

<P>The challenge has now started, with 10 of the 20 branches are available. There will be an announcement once the other 10 branches are available in 4-6 weeks.</P>
<P>While we do not anticipate any major changes, please sign up for updates on the challenge status to receive a notification of any changes or availability of the other 8 branches.</P>

<P>For details about the properties of the different leader boards, see <A href="{% url leaderboard.board_views.index %}">their individual pages.<A> <P>
<UL>
{% if boards %}
{% for board in boards %}
<LI> {% if board.datafile%}  
		<A href="{% url leaderboard.data_views.public_file board.datafile.filename %}">Branch {{board}}</A> {{board.datafile.info}}. {% if board.datafile.mirror1 %}  <A href={{board.datafile.mirror1}}>US Mirror</A> {% endif %}
	{% else %}
		Data for {{board}} is not available yet
	{% endif %} </LI>
{% endfor %}
{% else %}
<LI>No data files are available for download yet.  When they are, they will be here.</LI>
{% endif %}
</UL>

<H4> Other Data Files </H4>
	<UL>
		{% for public_file in public_files %}
			<LI><A href="{% url leaderboard.data_views.public_file public_file.filename %}">{{public_file.filename}}</A> {{public_file.info}} </LI>
		{% endfor %}
	</UL>


{% endblock %}
