{% extends "leaderboard/base.html" %}

{% block subtitle %}Submission to board {{board}} {% endblock %}


{% block content %}
<h3>Submit an entry to leader-board {{board}}.</H3>
<P>Remember you can only submit up to four entries per board per day (note this maximum submission rate has been increased from one per day for the final days of the challenge).</P>
{% if teams|length > 1 %}

	{% else %}
		<P>You are submitting as a member of team {{ teams|first }}</P>
	{% endif %}
	{% if excluded_teams|length > 1 %}
		<P>(Your other teams, {{excluded_teams}}, cannot submit right now 
			because they have submitted {{entry_limit}} entries in the last 24 hours already)</P>
	{% elif excluded_teams|length == 1 %}
		<P>(Your other team, {{excluded_teams|first}}, cannot submit right now 
			because it has submitted {{entry_limit}} entries in the last 24 hours already)</P>

	{% endif %}

	<form action="submit" 
	      enctype="multipart/form-data"
	      method="post">
	    {% csrf_token %}
		{{ form.as_p }}
		<input type="submit" 
		       value="Submit" />
	</form>
	      {{ form.media }}


{% endblock %}
