{% extends "leaderboard/base.html" %}
{% block subtitle %}Too soon to submit{% endblock %}

{% block content %}
<H2>Too soon to submit again</H2>
{% if excluded_teams|length == 1 %}
<P> Sorry - your team, {{excluded_teams|first}}, has already submitted {{entry_limit}} entries in the last 24 hours.  You cannot submit another entry right now.  Please wait to submit again.</P>
{% else %}
<P> Sorry - all of your teams, {{excluded_teams}}, have already submitted {{entry_limit}} entries in the last 24 hours.  You cannot submit another entry right now.  Please wait to submit again.</P>
{% endif %}

<P><A href="{% url leaderboard.team_views.setup %}">See recent entries</A></P>
{% endblock %}
